/* Aside */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: $header-background;
  overflow: hidden;
  transition: $transition-delay;
  text-align: center;
  border-top: 2px solid $border;
  margin-top: 80px;
  z-index: 99;
  nav {
    a {
      display: block;
      margin-top: 20px;
      &:first-child {
        margin-top: 32px;
      }
      &:hover {
        font-family: $bold;
      }
    }
  }
  button {
    margin-top: 32px;
  }
}
