@media (min-width: 1025px) {
  :root {
    --container-width: 960px;
  }

  /*common*/
  .feature-item.is-small {
    margin-top: 47px;
  }
  .desktop-grid {
    gap: 70px;
    grid-row-gap: 55px;
  }

  /* Header style */
  .desktop-header > nav {
    gap: 27px;
    margin-top: 77px;
  }
  .desktop-header > button {
    margin: 72px 0 0 26px;
  }

  /* banner style */
  .banner-container > div {
    gap: 75px;
  }
  .banner-right-wrapper > img {
    width: 354px;
    height: 649px;
    margin-top: 34px;
  }
  .banner-left-top-wrapper {
    margin-top: 100px;
  }
  .banner-left-middle-wrapper > button {
    margin-top: 36px;
  }
  .banner-left-middle-wrapper > h1 {
    margin-top: 10px;
  }
  .banner-left-middle-wrapper > p {
    margin-top: 18px;
  }
  .circle-bg {
    width: 922px;
    height: 692px;
    top: -16px;
    right: 88px;
  }
  .cross-bg {
    height: 504px;
    width: 630px;
    top: 46px;
  }

  /* Associate company style */
  .companies-container {
    margin-top: 92px;
  }
  .grid-container {
    grid-template-columns: repeat(5, minmax(151px, 1fr));
    gap: 47px;
    margin-top: 24px;
  }
  .grid-container img:nth-child(5) {
    grid-column: 5;
  }

  /* Feature style */
  .feature-wrapper {
    margin-top: 101px;
    justify-content: flex-end;
    gap: 48px;
  }
  .figure-top-wrapper > h3 {
    margin-top: 38px;
    margin-right: 192px;
  }
  .figure-top-wrapper > p {
    margin-top: 13.5px;
    margin-right: 92px;
  }
  .figure-middle-wrapper > img {
    width: 488px;
    height: 671px;
  }
  .figure-bottom-wrapper {
    margin-top: 68px;
    margin-right: 92px;
  }

  /* Benifits style */
  .benifit-title-wrapper {
    margin: 0 100px;
    margin-top: 83px;
  }
  .benifit-title-wrapper > div {
    margin: 0 33px;
    margin-top: 5px;
  }
  .benifits-wrapper > div {
    margin: 0 69px;
    margin-top: 96px;
  }

  /* Design info style */
  .design-info-wrapper {
    margin-top: 90px;
  }
  .design-info-left > img {
    height: 390px;
    width: 424px;
    margin-right: 90px;
  }
  .design-info-right > button {
    margin-top: 35px;
  }
  .design-info-right > p {
    margin-top: 20px;
  }

  /* Choose app style */
  .choose-app-wrapper {
    margin-top: 60px;
    padding-top: 112px;
  }
  .choose-app-wrapper > div {
    margin-top: 76px;
  }
  .choose-app-title > p {
    margin-top: 28px;
  }
  .choose-app-wrapper .desktop-grid p {
    margin-top: 12px;
  }

  /* Ultimate Feature style */
  .ultimate-feature-container {
    margin-top: 152px;
  }
  .ultimate-feature-middle,
  .ultimate-feature-top > p {
    margin-top: 24px;
  }
  .ultimate-feature-middle > img {
    width: 602px;
    height: 642px;
    right: -124px;
  }
  .ultimate-desktop-grid {
    gap: 84px;
    grid-row-gap: 48px;
    margin-top: 44px;
  }
  .ultimate-desktop-grid h4 {
    margin-top: 28px;
  }
  .ultimate-desktop-grid p {
    margin-top: 12px !important;
  }
  .ultimate-desktop-grid + button {
    margin-top: 44px;
    padding: 4.5px 46px;
  }

  /* Pricing styling */
  .price-title-wrapper {
    margin-top: 140px;
  }
  .price-title-wrapper > p {
    margin-top: 28px;
  }
  .toggle {
    margin-top: 68px;
  }

  /* Client Rating style */
  .client-rating-divider {
    margin-top: 84px;
    padding-top: 124px;
  }
  .client-rating-container > figure > img {
    width: 658px;
    height: 500px;
  }
  .page-container {
    margin-left: 544px;
    position: relative;
  }
  .rating-container {
    margin-top: 32px;
  }
  .page-container > h5 {
    margin-top: 24px;
  }
  .page-container p:nth-child(3) {
    margin-top: 32px;
  }
  .page-container p:nth-child(6) {
    margin-top: 8px;
  }
  .profile-data {
    margin-top: 45.5px;
  }
  .name-designation {
    margin-left: 20px;
  }
  .pagination-wrapper {
    right: 0;
  }

  /* QA styling */
  .qa-title-wrapper {
    margin-top: 137px;
    margin-bottom: 52px;
  }
  .qa-title-wrapper > p {
    margin-top: 24px;
  }
  .expandable-container {
    margin-top: 12px;
  }
  .answer-show {
    margin-top: 20px;
  }

  /* App Download style */
  .divider {
    margin-top: 88px;
    margin-bottom: 24px;
  }
  .app-download-title-wrapper > p {
    margin-top: 18px;
  }
  .download-buttons-wrapper {
    margin-top: 34px;
  }
  .background-image {
    height: 329px;
  }
  .background-image > img {
    width: 675px;
    height: 377px;
    max-width: 675px;
    left: 604px;
  }
}
