@media (min-width: 1025px) {
  :root {
    --container-width: 900px;
  }

  /*common*/
  .feature-item.is-small {
    margin-top: 47px;
  }
  .desktop-grid {
    gap: 70px;
  }

  /* Header style */
  .desktop-header > nav {
    gap: 33px;
  }
  .desktop-header > button {
    margin-right: 170px;
  }

  /* banner style */
  .banner-left-top-wrapper {
    margin-top: 261px;
  }
  .banner-container {
    gap: 75px;
  }
  .building-bg {
    width: 1400px;
  }
  .circle-bg-container {
    width: 1023px;
    height: 768px;
    left: 293px;
  }

  /* Associate company style */
  .grid-container {
    gap: 59px;
  }

  /* Feature style */
  .feature-wrapper {
    margin-top: 97px;
    gap: 52px;
  }
  .figure-top-wrapper > h3 {
    margin-top: 38px;
  }
  .figure-middle-wrapper > img {
    width: 434px;
    height: 595px;
  }
  .figure-bottom-wrapper {
    margin-top: 65px;
  }

  /* Benifits style */
  .benifit-title-wrapper {
    margin: 0 70px;
    margin-top: 83px;
  }
  .benifit-title-wrapper > div {
    margin: 0 30px;
    margin-top: 5px;
  }
  .benifits-wrapper > div {
    margin: 0 48px;
    margin-top: 96px;
  }

  /* Design info style */
  .design-info-wrapper {
    margin-top: 90px;
  }
  .design-info-left > img {
    height: 390px;
    width: 424px;
    margin-right: 90px;
  }
  .design-info-right > button {
    margin-top: 35px;
  }
  .design-info-right > p {
    margin-top: 20px;
  }

  /* Choose app style */
  .choose-app-wrapper {
    margin-top: 60px;
    padding-top: 100px;
  }
  .choose-app-wrapper > div {
    margin-top: 70px;
  }
  .choose-app-title > p {
    margin-top: 25px;
  }
}
