:root {
  --white: #fff;
  --primary: #242f51;
  --secondary: #616368;
  --header-background: #09142e;
  --button-background: #2500f9;
  --button-background-hover: #2500f9aa;
  --border: #e2eaed;
  --badge-background: #feaa25;
  --divider: #4b4a48;

  --spacing: 25px;

  --transition-delay: 0.5s;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

/* common */
.container {
  margin: 0 var(--spacing);
}
.no-scroll {
  overflow: hidden;
}
.mobile-view {
  display: block;
}
.desktop-view {
  display: none;
}

.feature-item {
  display: flex;
  margin-top: 35px;
}
.feature-item.is-small {
  margin-top: 40px;
}
.feature-item:first-child {
  margin-top: 0;
}
.feature-item.column {
  flex-direction: column;
}
.feature-item.text-center {
  align-items: center;
  text-align: center;
}
.feature-item.text-left {
  align-items: flex-start;
  text-align: left;
}
.feature-item > figure {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.feature-item > figure > img {
  width: inherit;
  height: inherit;
  padding: 15px;
  box-sizing: border-box;
}
.feature-item > figure.is-small {
  width: 78px;
  height: 78px;
}
.feature-item > figure > img.is-small {
  width: inherit;
  height: inherit;
}
.feature-item > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-item > figcaption.add-margin {
  margin-left: 21px;
}
.feature-item > figcaption > p {
  margin-top: 5px;
}
.feature-item > figcaption > p.is-small {
  margin-top: 7px;
}
.desktop-grid {
  display: block;
  margin-top: 30px;
}

/* Elements */
body {
  background-color: var(--white);
  margin: 0;
  color: var(--primary);
  font-family: "Poppins-Regular";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 2;
}
header {
  background-color: var(--header-background);
  line-height: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
img {
  object-fit: contain;
}
a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2.75;
}
a:hover {
  opacity: 0.5;
}
button {
  font-family: "Poppins-Bold";
  font-size: 16px;
  line-height: 2.75;
  letter-spacing: 0;
  color: var(--white);
  border-radius: 50px;
  background-color: var(--button-background);
  border: 0;
  padding: 6px 40px;
}
button:hover {
  cursor: pointer;
  background-color: var(--button-background-hover);
}
h1 {
  font-family: "Poppins-SemiBold";
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.26;
  margin: 0;
}
h2 {
  font-family: "Poppins-SemiBold";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}
h3 {
  font-family: "Poppins-SemiBold";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.41;
  margin: 0;
}
h4 {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}
h6 {
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 1.75;
  margin: 0;
}
p {
  margin: 0;
  color: var(--secondary);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.46;
}

/* header styles */
.main-header > img {
  width: 118px;
  height: 44px;
  margin: 16px 0 20px;
}
.main-header > a {
  line-height: 0;
}
.main-header > a > img {
  width: 22px;
  height: 16px;
  margin-top: 30px;
  float: right;
  transition: var(--transition-delay);
}
.main-header > a > img.active {
  width: 16.16px;
  height: 16.5px;
  margin-top: 28px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--header-background);
  overflow: hidden;
  transition: var(--transition-delay);
  text-align: center;
  border-top: 2px solid var(--border);
  margin-top: 80px;
  z-index: 99;
}
.overlay nav a {
  display: block;
  margin-top: 20px;
}
.overlay nav a:first-child {
  margin-top: 32px;
}
.overlay nav a:hover {
  font-family: "Poppins-Bold";
}
.overlay > button {
  margin-top: 32px;
}
.desktop-header {
  display: none;
}

/* Banner style */
.banner-left-top-wrapper {
  display: inline-flex;
  align-items: center;
  background-color: var(--border);
  border-radius: 50px;
  margin-top: 27px;
}
.banner-left-top-wrapper > img {
  width: 25px;
  height: 25px;
  border-radius: 17.5px;
  background-color: var(--badge-background);
  padding: 5px;
  box-sizing: border-box;
}
.banner-left-top-wrapper > span {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 10px;
}
.banner-left-middle-wrapper > h1 {
  margin-top: 8px;
}
.banner-left-middle-wrapper > p {
  font-size: 12px;
  margin-top: 14px;
}
.banner-left-middle-wrapper > h1 > span,
.banner-left-middle-wrapper > p > span {
  display: none;
}
.banner-left-middle-wrapper > button {
  display: none;
}
.banner-right-wrapper {
  margin: 0 26px;
  text-align: center;
}
.banner-right-wrapper > img {
  width: 322.64px;
  height: 591.39px;
}
.banner-right-wrapper > button {
  margin: -17px;
  margin-bottom: 24px;
}
.banner-container {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}
.building-bg {
  width: 1600px;
  height: 245px;
  position: absolute;
  object-fit: cover;
  left: 0;
  bottom: 0;
  z-index: -3;
}
.circle-bg-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 605px;
  position: absolute;
  left: 50px;
  top: 277px;
  z-index: -2;
}
.circle-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cross-bg {
  display: none;
  height: 630px;
  width: 788px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Associate company style */
.companies-container {
  text-align: center;
}
.companies-container > h6 {
  margin-top: 70px;
}
.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(147px, 1fr)
  ); /* Responsive columns */
  gap: 20px;
}
.grid-container img {
  width: 147px;
  height: 81px;
  justify-self: center;
  transition: var(--transition-delay);
  transform: scale(1);
}
.grid-container img:hover {
  cursor: pointer;
  transform: scale(0.7);
}
.grid-container img:nth-child(5) {
  grid-column: 1 / -1;
}

@media (min-width: 509px) {
  .grid-container img:nth-child(5) {
    grid-column: 2;
  }
}

@media (min-width: 669px) {
  .grid-container img:nth-child(5) {
    grid-column: 1/-1;
  }
}

/* Feature style */
.figure-top-wrapper {
  margin-top: 60px;
}
.figure-top-wrapper > p {
  margin-top: 5px;
}
.figure-middle-wrapper {
  display: flex;
  justify-content: center;
}
.figure-middle-wrapper > img {
  height: 447px;
  width: 325px;
  margin-top: 15px;
}
.figure-bottom-wrapper {
  margin-top: 15px;
}

/* Benifits style */
.benifit-title-wrapper {
  margin-top: 70px;
}
.benifit-title-wrapper > div {
  width: 45%;
  border-top: 1px solid var(--divider);
  margin: 20px 0;
}
.benifit-title-wrapper > p {
  line-height: 2;
}

/* Design info style */
.design-info-right {
  margin-top: 70px;
}
.design-info-right > p {
  margin-top: 5px;
}
.design-info-right > button {
  display: none;
}
.design-info-left {
  text-align: center;
}
.design-info-left > img {
  width: 324.69px;
  height: 297px;
}
.design-info-left > img,
.design-info-left > button {
  display: block;
  margin: auto;
  margin-top: 25px;
}

/* Choose app style */
.choose-app-wrapper {
  margin-top: 70px;
  text-align: center;
}
.choose-app-title > p {
  margin-top: 15px;
}
.choose-app-title > p > span {
  display: none;
}

@media (min-width: 513px) {
  .choose-app-title > p > span {
    display: inline;
  }
}
