@media (min-width: 769px) {
  :root {
    --container-width: 700px;
  }
  .main-header {
    display: none;
  }

  /* common */
  .container {
    margin: 0 auto;
    width: var(--container-width);
  }
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }
  .feature-item {
    margin-top: 37px;
  }
  .feature-item > figure > img {
    margin-top: 12px;
  }
  .feature-item > figure > img.is-small {
    width: 88px;
    height: 88px;
  }
  .feature-item > figcaption.add-margin {
    margin-left: 36px;
  }

  /* Elements */
  header {
    background-color: transparent;
    line-height: 0;
    position: static;
  }
  h3 {
    font-size: 36px;
    line-height: 1.27;
  }
  h4 {
    font-size: 20px;
  }

  /* header styles */
  .desktop-header {
    display: flex;
    justify-content: flex-end;
  }
  .desktop-header > nav {
    display: flex;
    gap: 23px;
    margin-top: 97px;
  }
  .desktop-header > nav > a {
    color: var(--primary);
  }
  .desktop-header > button {
    margin: 90px 125px 0 33px;
  }

  /* banner style */
  .banner-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding: 0;
  }
  .banner-left-middle-wrapper,
  .banner-right-middle-wrapper,
  .banner-left-top-wrapper,
  .banner-right-wrapper {
    margin: 0;
    width: auto;
  }
  .banner-left-top-wrapper {
    margin-top: 121px;
    margin-left: 25px;
  }
  .banner-left-top-wrapper > img {
    width: 37px;
    height: 37px;
    padding: 9px;
  }
  .banner-left-top-wrapper > span {
    font-size: 18px;
    line-height: 1.55;
    margin-left: 7px;
    margin-right: 12px;
  }
  .banner-left-middle-wrapper {
    margin-left: 25px;
  }
  .banner-left-middle-wrapper > button {
    display: inline-block;
    margin-top: 45px;
  }
  .banner-left-middle-wrapper > h1 {
    font-size: 60px;
    line-height: 1.25;
    margin-top: 13px;
  }
  .banner-left-middle-wrapper > p {
    font-size: 18px;
    line-height: 1.55;
    margin-top: 23px;
  }
  .banner-left-middle-wrapper > h1 > span,
  .banner-left-middle-wrapper > p > span {
    display: inline;
  }
  .banner-right-wrapper > img {
    height: 812px;
    width: 443px;
    margin-top: 23px;
  }
  .banner-right-wrapper > button {
    display: none;
  }
  .building-bg {
    width: 1100px;
  }
  .cross-bg {
    display: inline;
    top: 58px;
  }
  .circle-bg-container {
    width: 822px;
    height: 614px;
    left: 235px;
    top: -30px;
  }

  /* Associate company style */
  .companies-container > h6 {
    margin-top: 115px;
  }
  .grid-container {
    width: auto;
    margin-top: 30px !important;
  }

  /* Feature style */
  .feature-wrapper {
    display: flex;
    margin-top: 67px;
    gap: 47px;
  }
  .figure-top-wrapper > h3 {
    margin-top: 28px;
  }
  .figure-top-wrapper > p {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 17px;
  }
  .figure-middle-wrapper {
    display: inline;
  }
  .figure-middle-wrapper > img {
    width: 325px;
    height: 448px;
  }
  .figure-bottom-wrapper {
    margin-top: 45px;
  }
}

@media (min-width: 815px) {
  .grid-container img:nth-child(5) {
    grid-column: 5;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(5, minmax(151px, 1fr));
    max-width: 1000px;
  }

  .grid-container img {
    width: 154px;
    height: 84px;
  }
}
