@media (min-width: 1281px) {
  :root {
    --container-width: 1102px;
  }

  /*common*/
  .feature-item.is-small {
    margin-top: 57px;
  }
  .desktop-grid {
    gap: 95px;
  }

  /* Header style */
  .desktop-header > nav {
    gap: 43px;
  }
  .desktop-header > button {
    margin-right: 215px;
  }

  /* banner style */
  .banner-container {
    gap: 105px;
  }
  .building-bg {
    width: 1600px;
  }
  .circle-bg-container {
    width: 1153px;
    height: 865px;
    left: 330px;
  }

  /* Feature style */
  .feature-wrapper {
    margin-top: 127px;
    gap: 67px;
  }
  .figure-top-wrapper > h3 {
    margin-top: 48px;
  }
  .figure-middle-wrapper > img {
    width: 610px;
    height: 839px;
  }
  .figure-bottom-wrapper {
    margin-top: 85px;
  }

  /* Benifits style */
  .benifit-title-wrapper {
    margin: 0 95px;
    margin-top: 108px;
  }
  .benifit-title-wrapper > div {
    margin: 0 42px;
    margin-top: 7px;
  }
  .benifits-wrapper > div {
    margin: 0 63px;
    margin-top: 116px;
  }

  /* Design info style */
  .design-info-wrapper {
    margin-top: 115px;
  }
  .design-info-left > img {
    height: 547px;
    width: 598px;
    margin-right: 115px;
  }
  .design-info-right > button {
    margin-top: 45px;
  }
  .design-info-right > p {
    margin-top: 30px;
  }

  /* Choose app style */
  .choose-app-wrapper {
    margin-top: 75px;
    padding-top: 140px;
  }
  .choose-app-wrapper > div {
    margin-top: 95px;
  }
  .choose-app-title > p {
    margin-top: 35px;
  }
}
