:root {
  --white: #fff;
  --transperent-white: #ffffff88;
  --primary: #242f51;
  --secondary: #616368;
  --header-background: #09142e;
  --button-background: #2500f9;
  --button-background-hover: #2500f9aa;
  --border: #e2eaed;
  --badge-background: #feaa25;
  --divider: #4b4a48;
  --toggle-border: #ebebeb;
  --card-background: #f4f7f9;
  --card-text: #999ca5;
  --button-border: #eff3f8;
  --qa-background: #f5f7fa;

  --spacing: 25px;

  --transition-delay: 0.5s;

  --bold: "Poppins-Bold", sans-serif;
  --semi-bold: "Poppins-SemiBold", sans-serif;
  --regular: "Poppins-Regular", sans-serif;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

/* common */
.container {
  margin: 0 var(--spacing);
}
.no-scroll {
  overflow: hidden;
}
.mobile-view {
  display: block;
}
.desktop-view {
  display: none;
}
.companies-container,
.benifit-title-wrapper,
.design-info-right,
.choose-app-wrapper,
.ultimate-feature-top,
.price-wrapper > h3,
.client-rating-container,
.faq-wrapper > h3,
.app-download-container {
  margin-top: 70px;
}

.feature-item {
  display: flex;
  margin-top: 35px;
}
.feature-item.is-small {
  margin-top: 40px;
}
.feature-item:first-child {
  margin-top: 0;
}
.feature-item.column {
  flex-direction: column;
}
.feature-item.text-center {
  align-items: center;
  text-align: center;
}
.feature-item.text-left {
  align-items: flex-start;
  text-align: left;
}
.feature-item > figure {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.feature-item > figure > img {
  padding: 15px;
  box-sizing: border-box;
}
.feature-item > figure.is-small {
  width: 78px;
  height: 78px;
}
.feature-item > figure > img.is-small {
  width: inherit;
  height: inherit;
}
.feature-item > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-item > figcaption.add-margin {
  margin-left: 21px;
}
.feature-item > figcaption > h4 {
  margin-top: 15px;
}
.feature-item > figcaption > h4.is-small {
  margin-top: 0;
}
.feature-item > figcaption > p {
  margin-top: 5px;
}
.feature-item > figcaption > p.is-small {
  margin-top: 7px;
}
.desktop-grid {
  display: block;
  margin-top: 30px;
}

/* Elements */
body {
  background-color: var(--white);
  margin: 0;
  color: var(--primary);
  font-family: var(--regular);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 2;
  overflow-x: hidden;
}
header {
  background-color: var(--header-background);
  line-height: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
footer {
  background-color: var(--header-background);
  width: 100%;
  text-align: center;
  padding-bottom: 63px;
}
img {
  object-fit: contain;
}
a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2.75;
}
a:hover {
  opacity: 0.5;
}
button {
  font-family: var(--bold);
  font-size: 16px;
  line-height: 2.75;
  letter-spacing: 0;
  color: var(--white);
  border-radius: 50px;
  background-color: var(--button-background);
  border: 0;
  padding: 6px 40px;
}
button:hover {
  cursor: pointer;
  background-color: var(--button-background-hover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--semi-bold);
  font-weight: 600;
  letter-spacing: 0;
  margin: 0;
}
h1 {
  font-size: 37px;
  line-height: 1.26;
}
h2 {
  font-size: 24px;
  line-height: 1.5;
}
h3 {
  font-size: 24px;
  line-height: 1.41;
}
h4 {
  font-size: 18px;
  line-height: 1.5;
}
h5 {
  font-size: 16px;
  line-height: 1.75;
}
h6 {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 1.75;
}
p {
  margin: 0;
  color: var(--secondary);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.46;
}

/* header styles */
.main-header > img {
  margin: 16px 0 20px;
}
.main-header > a {
  line-height: 0;
}
.main-header > a > img {
  margin-top: 30px;
  float: right;
  transition: var(--transition-delay);
}
.main-header > a > img.active {
  width: 16.16px;
  height: 16.5px;
  margin-top: 28px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--header-background);
  overflow: hidden;
  transition: var(--transition-delay);
  text-align: center;
  border-top: 2px solid var(--border);
  margin-top: 80px;
  z-index: 99;
}
.overlay nav a {
  display: block;
  margin-top: 20px;
}
.overlay nav a:first-child {
  margin-top: 32px;
}
.overlay nav a:hover {
  font-family: var(--bold);
}
.overlay > button {
  margin-top: 32px;
}

/* Banner style */
.banner-container {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}
.banner-left-top-wrapper {
  display: inline-flex;
  align-items: center;
  background-color: var(--border);
  border-radius: 50px;
  margin-top: 27px;
}
.banner-left-top-wrapper > img {
  border-radius: 17.5px;
  background-color: var(--badge-background);
  padding: 5px;
  box-sizing: border-box;
}
.banner-left-top-wrapper > span {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 10px;
}
.banner-left-middle-wrapper > h1 {
  margin-top: 8px;
}
.banner-left-middle-wrapper > p {
  font-size: 12px;
  margin-top: 14px;
}
.banner-right-wrapper > img {
  display: block;
  margin: auto;
}
.banner-right-wrapper > button {
  margin: -17px auto 24px;
}
.building-bg {
  width: 100%;
  height: 245px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("./images/building-backgorund.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 1600px;
  z-index: -3;
}
.circle-bg {
  height: 605px;
  width: 806.43px;
  position: absolute;
  right: -70vw;
  bottom: 74px;
  z-index: -2;
}

@media (min-width: 425px) {
  .circle-bg {
    right: -45vw;
  }
}

@media (min-width: 500px) {
  .circle-bg {
    right: -15vw;
  }
}

@media (min-width: 600px) {
  .circle-bg {
    right: 0;
  }
}

/* Associate company style */
.companies-container {
  text-align: center;
}
.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(147px, 1fr)
  ); /* Responsive columns */
  gap: 20px;
}
.grid-container img {
  justify-self: center;
  transition: var(--transition-delay);
  transform: scale(1);
}
.grid-container img:hover {
  cursor: pointer;
  transform: scale(0.7);
}
.grid-container img:nth-child(5) {
  grid-column: 1 / -1;
}

@media (min-width: 509px) {
  .grid-container img:nth-child(5) {
    grid-column: 2;
  }
}

@media (min-width: 669px) {
  .grid-container img:nth-child(5) {
    grid-column: 1/-1;
  }
}

/* Feature style */
.figure-top-wrapper {
  margin-top: 60px;
}
.figure-top-wrapper > p {
  margin-top: 5px;
}
.figure-middle-wrapper {
  display: flex;
  justify-content: center;
}
.figure-middle-wrapper > img {
  margin-top: 15px;
}
.figure-bottom-wrapper {
  margin-top: 15px;
}

/* Benifits style */
.benifit-title-wrapper > div {
  width: 45%;
  border-top: 1px solid var(--divider);
  margin: 20px 0;
}
.benifit-title-wrapper > p {
  line-height: 2;
}

/* Design info style */
.design-info-right > p {
  margin-top: 5px;
}
.design-info-wrapper img,
.design-info-wrapper button {
  margin: auto;
  margin-top: 25px;
}

/* Choose app style */
.choose-app-wrapper {
  text-align: center;
}
.choose-app-wrapper > p {
  margin-top: 15px;
}
.choose-app-wrapper > p > span {
  display: none;
}

/* Ultimate Feature style */
.ultimate-feature-top {
  text-align: center;
}
.ultimate-feature-top > h3 {
  padding: 0 var(--spacing);
}
.ultimate-feature-top > p {
  margin-top: 15px;
}
.ultimate-feature-middle {
  height: 383px;
  position: relative;
  margin-top: 15px;
}
.ultimate-feature-middle > img {
  position: absolute;
  right: -25px;
}

/* Pricing styling */
.price-wrapper > p {
  margin-top: 15px;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 2.75;
  margin-top: 40px;
  gap: 7px;
}
.toggle .active-label {
  font-family: var(--bold);
  color: var(--button-background);
}
.toggle-button {
  display: inline-block;
  width: 67px;
  border-radius: 20.33px;
  background-color: var(--button-background);
  padding: 3px;
  box-sizing: border-box;
}
.toggle-circle {
  height: 19.93px;
  width: 19.93px;
  border-radius: 20.33px;
  background-color: var(--white);
  transition: transform var(--transition-delay) ease-in-out;
}
.toggle-circle.right {
  transform: translateX(42px);
}
.card-wrapper {
  margin-top: 16px;
}
.card-wrapper span {
  color: var(--card-text);
}
.card-view {
  box-sizing: border-box;
  text-align: center;
  width: 325px;
  margin: auto;
  box-shadow: 0 4.13px 35.08px 0 rgba(144, 163, 177, 0.1);
  border-radius: 15.48px;
  background-color: var(--white);
  padding-bottom: 31px;
}
.card-view.border {
  border: 2px solid var(--toggle-border);
  margin-top: 35px;
  padding-bottom: 26px;
}
.card-top {
  padding: 45px 0 50px;
  background-color: var(--card-background);
  border-radius: 15.48px 15.48px 0 0;
  line-height: 1.5;
}
.card-top > h1 {
  display: inline-block;
  margin-right: 7px;
  font-size: 48px;
}
.card-top > h4 {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 9.5px;
}
.card-top span {
  font-size: 16px;
}
.card-bottom {
  padding-top: 37px;
  border-radius: 0 0 15.48px 15.48px;
}
.card-bottom span {
  display: block;
  font-size: 14px;
  line-height: 3.45;
}
.card-bottom button {
  margin-top: 31px;
}
.card-bottom a {
  display: inline-block;
  color: var(--button-background);
  line-height: 1.81;
  margin-top: 21px;
}

/* Client Rating style */
.client-rating-container figure {
  height: 285px;
}
.client-rating-container > figure > img {
  position: absolute;
  height: 285px;
  width: 375px;
  left: 0;
  right: 0;
  margin: auto;
}
.page-container {
  margin-top: 18px;
  text-align: center;
}
.profile-image {
  border-radius: 37.5px;
  margin: auto;
}
.rating-container {
  margin-top: 19px;
}
.rating-container img {
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
}
.profile-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.profile-data {
  flex-basis: 100%;
}
.profile-data h5 {
  margin-top: 5px;
}
.profile-data span {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -5px;
}
.next,
.prev {
  border: 1.25px solid var(--button-border);
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--button-border);
  border-radius: 50px;
}
.next:hover,
.prev:hover {
  cursor: pointer;
  border: 1.25px solid var(--button-background);
}
.next.disable,
.prev.disable {
  background-color: transparent;
  border: 1.25px solid var(--button-border);
}
.page-container h5 {
  margin-top: 20px;
}
.page-container p:nth-child(3) {
  margin-top: 27px;
}
.page-container p:nth-child(6) {
  margin-top: 10px;
}

/* QA styling */
.faq-wrapper > p {
  margin-top: 15px;
  margin-bottom: 16px;
}
.expandable-container {
  background-color: var(--qa-background);
  margin: auto;
  text-align: left;
  margin-top: 8px;
  padding: 18px 9px 18px 26px;
  max-width: 945px;
  transition: all var(--transition-delay) ease-in-out;
}
.expand-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expand-trigger h4 {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
}
.expand-trigger img {
  margin-left: 37px;
  float: right;
  transition: var(--transition-delay);
}
.expand-trigger img:hover {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: -2.5px;
}
.expand-content {
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: all var(--transition-delay) ease-in-out;
}
.answer-show {
  height: auto;
  margin-top: 10px;
  max-height: 500px;
}
.hide-icon {
  display: none;
}
.ellipsis-question {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.expand-question {
  text-overflow: clip;
  white-space: normal;
  overflow: none;
}
.extra-padding {
  padding: 27px 20px 38px 26px;
}

/* App Download style */
.app-download-title-wrapper > h3 {
  line-height: 2.1;
}
.download-buttons-wrapper {
  margin-top: 17px;
  display: flex;
  gap: 20px;
}
.download-buttons-wrapper img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.background-image {
  height: 237px;
}
.background-image > img {
  width: 100%;
  max-width: 454px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 15px;
  object-fit: cover;
  z-index: -1;
}

/* Footer Styling */
footer > img {
  margin-top: 67px;
}
footer > nav {
  margin-top: 35px;
}
footer > nav > a {
  display: block;
  color: var(--white);
}
.soical-media-icons {
  margin-top: 64px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.soical-media-icons a img {
  opacity: 0.5;
}
.soical-media-icons a {
  opacity: 1;
}
.soical-media-icons a img:hover {
  opacity: 1;
}
footer p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--transperent-white);
  margin-top: 50px;
}

@media (min-width: 454px) {
  .background-image > img {
    width: 454px;
    line-height: 2.75;
  }
}

@media (min-width: 513px) {
  .choose-app-title > p > span {
    display: inline;
  }
}
