@media (min-width: 1281px) {
  :root {
    --container-width: 1200px;
  }

  /*common*/
  .feature-item.is-small {
    margin-top: 57px;
  }
  .desktop-grid {
    gap: 95px;
    grid-row-gap: 70px;
  }

  /* Header style */
  .desktop-header > nav {
    gap: 39px;
    margin-top: 87px;
  }
  .desktop-header > button {
    margin: 81px 0 0 30px;
  }

  /* banner style */
  .banner-container > div {
    gap: 105px;
  }
  .banner-right-wrapper > img {
    width: 398px;
    height: 730px;
    margin-top: 38px;
  }
  .banner-left-top-wrapper {
    margin-top: 208px;
  }
  .banner-left-top-wrapper ~ button {
    margin-top: 40px;
  }
  .banner-left-top-wrapper ~ h1 {
    margin-top: 11px;
  }
  .banner-left-top-wrapper ~ p {
    margin-top: 20px;
  }

  /* Associate company style */
  .companies-container {
    margin-top: 103px;
  }
  .grid-container {
    gap: 53px;
    margin-top: 27px;
  }

  /* Feature style */
  .feature-wrapper {
    margin-top: 114px;
    background-size: 549px;
  }
  .figure-top-wrapper > h3 {
    margin-top: 43px;
  }
  .figure-top-wrapper > p {
    margin-top: 15px;
  }
  .figure-bottom-wrapper {
    margin-top: 76px;
  }

  /* Benifits style */
  .benifit-title-wrapper {
    margin: 0 113px;
    margin-top: 97px;
  }
  .benifit-title-wrapper > div {
    margin: 0 37px;
    margin-top: 7px;
  }
  .benifits-wrapper > div {
    margin: 0 78px;
    margin-top: 104px;
  }

  /* Design info style */
  .design-info-wrapper {
    margin-top: 115px;
  }
  .design-info-wrapper img {
    height: 547px;
    width: 598px;
    margin-right: 115px;
  }
  .design-info-right > button {
    margin-top: 45px;
  }
  .design-info-right > p {
    margin-top: 30px;
  }

  /* Choose app style */
  .choose-app-wrapper-divider {
    margin-top: 67px;
    margin-bottom: 126px;
  }
  .choose-app-wrapper > div {
    margin-top: 85px;
  }
  .choose-app-title > p {
    margin-top: 31px;
  }
  .choose-app-wrapper .desktop-grid p {
    margin-top: 13.5px;
  }

  /* Ultimate Feature style */
  .ultimate-feature-container {
    margin-top: 171px;
    background-size: 627px;
  }
  .ultimate-feature-middle,
  .ultimate-feature-top > p {
    margin-top: 27px;
  }
  .ultimate-feature-middle > img {
    width: 677px;
    height: 722px;
    right: -140px;
  }
  .ultimate-desktop-grid {
    gap: 94px;
    grid-row-gap: 54px;
    margin-top: 50px;
  }
  .ultimate-desktop-grid h4 {
    margin-top: 31px;
  }
  .ultimate-desktop-grid p {
    margin-top: 13.5px !important;
  }
  .ultimate-desktop-grid + button {
    margin-top: 49px;
    padding: 6px 52px;
  }

  /* Pricing styling */
  .price-wrapper > h3 {
    margin-top: 157px;
  }
  .price-wrapper > p {
    margin-top: 31px;
  }
  .toggle {
    margin-top: 76px;
  }

  /* Client Rating style */
  .client-rating-divider {
    margin-top: 94px;
    padding-top: 139px;
  }
  .client-rating-container {
    background-size: 575px;
  }
  .rating-container {
    margin-top: 36px;
  }
  .page-container > h5 {
    margin-top: 27px;
  }
  .page-container p:nth-child(3) {
    margin-top: 36px;
  }
  .page-container p:nth-child(6) {
    margin-top: 9px;
  }
  .profile-data {
    margin-top: 51px;
  }
  .name-designation {
    margin-left: 22.5px;
  }

  /* QA styling */
  .faq-wrapper > h3 {
    margin-top: 154px;
  }
  .faq-wrapper > p {
    margin-bottom: 58px;
    margin-top: 27px;
  }
  .expandable-container {
    margin-top: 13.5px;
  }
  .answer-show {
    margin-top: 22.5px;
  }

  /* App Download style */
  .divider {
    margin-top: 99px;
    margin-bottom: 27px;
  }
  .app-download-container {
    background-size: 759px;
    margin-bottom: -55px;
  }
  .app-download-title-wrapper {
    margin-top: 90px;
  }
  .app-download-title-wrapper > p {
    margin-top: 20px;
  }
  .download-buttons-wrapper {
    margin-top: 38px;
    margin-bottom: 107px;
  }

  /* Footer Styling */
  footer {
    padding-bottom: 90px;
  }
  footer > img {
    margin-top: 103px;
  }
  footer > nav {
    margin-top: 58px;
  }
  footer > nav > a {
    margin-right: 27px;
  }
  .soical-media-icons {
    margin-top: 45px;
  }
  footer p {
    margin-top: 72px;
  }
}

@media (min-width: 1600px) {
  .client-rating-container > figure {
    position: relative;
  }
  .client-rating-container > figure > img {
    margin-left: -150px;
  }
}
